<!DOCTYPE html>

@using System.Data;
@using playlistApp.App_Code;

@{

    SongMethods sm = new SongMethods();
    string filePath = @"~\playlist.xml";
    DataSet ds = sm.GetAllSongs(filePath);
    Session["playlistClass"] = sm;
    Session["file"] = filePath;

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Playlist</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1> Hallo welkom op onze playlist. </h1>

        <table class="table-bordered">

            <tr>
                <th>Artist</th>
                <th>Title</th>
                <th>Year</th>
                <th>album</th>
            </tr>

            @{

                foreach (DataRow liedje in ds.Tables["song"].Rows)
                {
                    <tr>
                        <td>@liedje["artist"]</td>
                        <td>@liedje["title"]</td>
                        <td>@liedje["year"]</td>
                        <td>@liedje["album"]</td>
                    </tr>
                }

                //hier moet ik de ingelezen lijst van liedjes gaan weergeven//

            }
        </table>

        <br/> <br/>

        <a href="Pages\CreateSong.cshtml">Add</a>

    </div>
</body>
</html>
