<!DOCTYPE html>

@using System.Data;
@using playlistApp.App_Code;

@{

    SongMethods sm = new SongMethods();

    DataSet ds = sm.GetAllSongs();



}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1> hallo welkom op onze playlist. </h1>

        <table border="1">

            @{

                foreach (DataRow liedje in ds.Tables["song"].Rows)
                {
                    <tr>
                        <td>@liedje["artist"]</td>
                        <td>@liedje["title"]</td>
                        <td>@liedje["year"]</td>
                        <td>@liedje["album"]</td>
                    </tr>
                }

                //hier moet ik de ingelezen lijst van liedjes gaan weergeven//

            }


        </table>

    </div>
</body>
</html>
