
@using System.Data;

@{ 

    //structuur die de database in memory kan bevatten.

    DataSet ds = new DataSet("playlist");

    DataTable song = new DataTable("song");

    DataColumn artist = new DataColumn("artist");
    DataColumn title = new DataColumn("title");
    DataColumn album = new DataColumn("album");
    DataColumn year = new DataColumn("year");

    song.Columns.Add(artist);
    song.Columns.Add(title);
    song.Columns.Add(album);
    song.Columns.Add(year);

    ds.Tables.Add(song);



    //hier moeten we het bestand playlist.xml inlezen....
    //????


    ds.ReadXml(HttpContext.Current.Server.MapPath("~/playlist.xml"));

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1> hallo welkom op onze playlist. </h1>

    <table border="1">

        @{

            foreach (DataRow liedje in ds.Tables["song"].Rows)
            {
                <tr>
                    <td>@liedje["artist"]</td>
                    <td>@liedje["title"]</td>
                    <td>@liedje["year"]</td>
                    <td>@liedje["album"]</td>
                </tr>
            }

            //hier moet ik de ingelezen lijst van liedjes gaan weergeven//
        }


    </table>

    </div>
</body>
</html>
