<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>Voer hier de gegevens van een nieuwe song toe:</h3>
    <form>
        <table>
            <tr>
                <td>Artiest:</td>
            <td><input type="text" name="Artiest" placeholder="Vul in..." /></td>
            </tr>
            <tr>
                <td>Titel:</td>
            <td><input type="text" name="Titel" placeholder="Vul in..."/></td>
            </tr>
            <tr>
                <td>Jaar:</td>
            <td><input type="text" name="Jaar" placeholder="Vul in..."/> </td>
            </tr>
            <tr>
                <td>Album:</td>
            <td><input type="text" name="Album" placeholder="Vul in..."/></td>
            </tr>
            <tr>
                <td colspan="2" align="" ><input type="submit" value="Submit" style="width: 40%"/></td>
            </tr>
        </table>
      
        
        <br />
       
    </form>
</body>
</html>