<!DOCTYPE html>

@using System.Data;
@using playlistApp.App_Code;

@{
    SongMethods sm = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;

    string id = Request.QueryString["id"];

    DataRow songI = sm.GetSong(id);
    

}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Add song</title>
</head>
<body>
    <form method="post">
        <table class="table table-dark">
            <tr>
                <th colspan="2"> <h3>Voer hier de gegevens van een nieuwe song toe:</h3></th>
            </tr>
            <tr>
                <td>Artiest:</td>
                <td><input type="text" name="Artiest" value="@songI["artist"]" /></td>
            </tr>
            <tr>
                <td>Titel:</td>
                <td><input type="text" name="Titel" value="@songI["title"]" /></td>
            </tr>
            <tr>
                <td>Jaar:</td>
                <td><input type="text" name="Jaar" value="@songI["album"]" /> </td>
            </tr>
            <tr>
                <td>Album:</td>
                <td><input type="text" name="Album" value="@songI["year"]" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

    @if (IsPost)
    {

        songI[1] = Request.Form["Artiest"];
        songI[2] = Request.Form["Titel"];
        songI[3] = Request.Form["Jaar"];
        songI[4] = Request.Form["Album"];

        sm.WriteSong();
        Response.Redirect(@"~/index.cshtml");
    }

</body>
</html>