<!DOCTYPE html>

@using System.Data;
@using playlistApp.App_Code;

@{
    SongMethods sm = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;


}

<html>
<head>



    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>